<a href="https://colab.research.google.com/github/MStamirski/365DataScience-students/blob/main/Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparation

In [2]:
from google.colab import drive
drive.mount("/content/drive")
path = "drive/MyDrive/Colab_Notebooks/365Challenge/data/"

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import datetime

In [4]:
df = pd.read_csv(path+"Students.csv", sep="\t")
df_students = df.iloc[:, 2:] # without index and student_id
df_students

,Paying,Course_Nr_2,Course_Nr_3,Course_Nr_4,Course_Nr_5,Course_Nr_7,Course_Nr_11,Course_Nr_12,Course_Nr_13,Course_Nr_14,...,Period_Reg,Period_FCourse,Period_LCourse,Period_FQuiz,Period_LQuiz,Period_FExam,Period_LExam,Period_FQuest,Period_LQuest,Period_Camp
0,0,0,0,0,0,0,0,0,0,0,...,364,364,364,0,0,0,0,0,0,103
1,0,0,0,0,0,0,0,0,0,0,...,364,0,0,0,0,0,0,0,0,103
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,364,0,0,0,0,0,0,0,0,103
4,0,0,0,0,0,0,0,0,0,0,...,364,0,0,0,0,0,0,0,0,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35225,0,0,0,0,0,1,0,0,0,0,...,72,72,72,72,72,0,0,0,0,103
35226,0,0,0,0,0,1,0,0,0,0,...,72,72,72,72,72,0,0,0,0,103
35227,0,0,0,0,0,0,0,0,0,0,...,72,72,72,0,0,0,0,0,0,103
35228,0,0,0,0,0,0,0,0,0,0,...,72,0,0,0,0,0,0,0,0,103
35229,0,0,0,0,0,0,0,0,0,0,...,72,0,0,0,0,0,0,0,0,103

In [5]:
df_students['Paying'].value_counts()

0    33095
1     2135
Name: Paying, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import RidgeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [9]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [10]:
from sklearn.feature_selection import SelectFromModel

In [43]:
import warnings
warnings.filterwarnings("ignore")

In [47]:
def show_metrics(y_test, y_pred):
  tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
  print(f'True positive: {tp}\nTrue negative: {tn}\nFalse positive: {fp}\nFalse negative: {fn}\n')
  print("==================================")
  print(f'recall: {recall_score(y_test, y_pred)}')
  print(f'precision: {precision_score(y_test, y_pred)}')
  print(f'f1: {f1_score(y_test, y_pred)}')
  print("==================================\n")

In [60]:
def model_fit_predict(model):
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  show_metrics(y_test, y_pred)

def select_features(model):
  selector = SelectFromModel(model)
  selector.fit(X_train, y_train)
  status = selector.get_support()
  all_features = X_train.columns
  selected_features = X_train.columns[status].tolist()
  print(f"All features number: {len(all_features)}, Selected features number: {len(selected_features)}, Selected_features:")
  print(selected_features)
  return selected_features

In [12]:
X = df_students.drop(columns='Paying')
y = df_students['Paying']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

# Models

In [48]:
model = KNeighborsClassifier()
model_fit_predict(model)

True positive: 404
True negative: 6638
False positive: 0
False negative: 4

==================================
recall: 0.9901960784313726
precision: 1.0
f1: 0.9950738916256158
==================================

In [61]:
model = LogisticRegression(class_weight="balanced", random_state=42)
model_fit_predict(model)
feat_logreg = select_features(model)

True positive: 406
True negative: 6635
False positive: 3
False negative: 2

==================================
recall: 0.9950980392156863
precision: 0.9926650366748166
f1: 0.9938800489596084
==================================

All features number: 219, Selected features number: 38, Selected_features:
['Course_Nr_7', 'Course_Nr_12', 'Course_Nr_21', 'Course_Nr_32', 'Courses_Nr', 'Course_Time_7', 'Course_Time_11', 'Course_Time_16', 'Course_Time_24', 'Course_Time_32', 'Course_Time_34', 'Course_Time_43', 'Course_Time_46', 'Course_Time_53', 'Course_GeneralRating_3', 'Course_GeneralRating_7', 'Course_GeneralRating_14', 'Course_GeneralRating_21', 'Courses_GeneralRating', 'Course_IndividRating_3', 'Course_IndividRating_7', 'Course_IndividRating_14', 'Course_IndividRating_21', 'Courses_IndividRating', 'Quizes_Result', 'Engagement_quiz', 'Engagement_exam', 'Engagement_lesson', 'ExamCat2_Nr', 'Exams_Nr', 'ExamCat1_AvgTime', 'ExamCat2_AvgTime', 'Exams_AvgTime', 'ExamCat1_Result', 'Period_LCourse', 'Period_LQuiz', 'Period_LExam', 'Period_Camp']

In [62]:
model = RidgeClassifier(class_weight="balanced", random_state=42)
model_fit_predict(model)
feat_ridge = select_features(model)

True positive: 407
True negative: 6638
False positive: 0
False negative: 1

==================================
recall: 0.9975490196078431
precision: 1.0
f1: 0.9987730061349693
==================================

All features number: 219, Selected features number: 54, Selected_features:
['Course_Nr_3', 'Course_Nr_7', 'Course_Nr_11', 'Course_Nr_13', 'Course_Nr_14', 'Course_Nr_19', 'Course_Nr_20', 'Course_Nr_24', 'Course_Nr_25', 'Course_Nr_27', 'Course_Nr_28', 'Course_Nr_32', 'Course_Nr_33', 'Course_Nr_34', 'Course_Nr_36', 'Course_Nr_37', 'Course_Nr_39', 'Course_Nr_42', 'Course_Nr_43', 'Course_Nr_45', 'Course_Nr_46', 'Course_Nr_48', 'Course_Nr_53', 'Course_Nr_54', 'Course_Nr_55', 'Course_Nr_56', 'Course_GeneralRating_4', 'Course_GeneralRating_7', 'Course_GeneralRating_14', 'Course_GeneralRating_21', 'Course_GeneralRating_23', 'Course_GeneralRating_32', 'Course_GeneralRating_35', 'Course_GeneralRating_42', 'Course_GeneralRating_43', 'Course_GeneralRating_46', 'Course_IndividRating_4', 'Course_IndividRating_7', 'Course_IndividRating_13', 'Course_IndividRating_14', 'Course_IndividRating_15', 'Course_IndividRating_21', 'Course_IndividRating_23', 'Course_IndividRating_24', 'Course_IndividRating_28', 'Course_IndividRating_32', 'Course_IndividRating_35', 'Course_IndividRating_36', 'Course_IndividRating_42', 'Course_IndividRating_43', 'Course_IndividRating_46', 'Quizes_Result', 'ExamCat2_PercTime', 'Exams_PercTime']

In [51]:
model = SVC(class_weight="balanced", random_state=42)
model_fit_predict(model)

True positive: 407
True negative: 6638
False positive: 0
False negative: 1

==================================
recall: 0.9975490196078431
precision: 1.0
f1: 0.9987730061349693
==================================

In [63]:
model = LinearSVC(class_weight="balanced", random_state=42)
model_fit_predict(model)
feat_linsvc = select_features(model)

True positive: 406
True negative: 6638
False positive: 0
False negative: 2

==================================
recall: 0.9950980392156863
precision: 1.0
f1: 0.9975429975429976
==================================

All features number: 219, Selected features number: 51, Selected_features:
['Course_Nr_7', 'Course_Nr_12', 'Course_Nr_13', 'Course_Nr_32', 'Courses_Nr', 'Course_Time_5', 'Course_Time_12', 'Course_Time_13', 'Course_Time_32', 'Course_Time_53', 'Course_GeneralRating_5', 'Course_GeneralRating_13', 'Course_GeneralRating_14', 'Course_GeneralRating_16', 'Course_GeneralRating_21', 'Course_GeneralRating_23', 'Course_GeneralRating_29', 'Course_GeneralRating_32', 'Course_GeneralRating_33', 'Course_GeneralRating_37', 'Course_GeneralRating_51', 'Course_GeneralRating_53', 'Courses_GeneralRating', 'Course_IndividRating_5', 'Course_IndividRating_13', 'Course_IndividRating_14', 'Course_IndividRating_16', 'Course_IndividRating_21', 'Course_IndividRating_23', 'Course_IndividRating_29', 'Course_IndividRating_32', 'Course_IndividRating_33', 'Course_IndividRating_37', 'Course_IndividRating_42', 'Course_IndividRating_51', 'Course_IndividRating_53', 'Courses_IndividRating', 'Quizes_Result', 'Engagement_quiz', 'Engagement_lesson', 'ExamCat2_Nr', 'Exams_Nr', 'ExamCat2_AvgTime', 'Exams_AvgTime', 'ExamCat1_Result', 'Exams_Result', 'Period_Reg', 'Period_FCourse', 'Period_LCourse', 'Period_LQuiz', 'Period_Camp']

In [53]:
model = GaussianNB()
model_fit_predict(model)

True positive: 408
True negative: 3240
False positive: 3398
False negative: 0

==================================
recall: 1.0
precision: 0.10719915922228061
f1: 0.193640246796393
==================================

In [54]:
model = MultinomialNB()
model_fit_predict(model)

True positive: 338
True negative: 6590
False positive: 48
False negative: 70

==================================
recall: 0.8284313725490197
precision: 0.8756476683937824
f1: 0.8513853904282116
==================================

In [55]:
model = BernoulliNB()
model_fit_predict(model)

True positive: 305
True negative: 6625
False positive: 13
False negative: 103

==================================
recall: 0.7475490196078431
precision: 0.9591194968553459
f1: 0.8402203856749312
==================================

In [64]:
model = RandomForestClassifier(class_weight = 'balanced', random_state=42)
model_fit_predict(model)
feat_ranfor = select_features(model)

True positive: 406
True negative: 6638
False positive: 0
False negative: 2

==================================
recall: 0.9950980392156863
precision: 1.0
f1: 0.9975429975429976
==================================

All features number: 219, Selected features number: 16, Selected_features:
['Courses_Nr', 'Course_Time_7', 'Courses_Time', 'Course_GeneralRating_7', 'Courses_GeneralRating', 'Course_IndividRating_7', 'Courses_IndividRating', 'Quizes_Result', 'Engagement_quiz', 'Engagement_lesson', 'Period_Reg', 'Period_FCourse', 'Period_LCourse', 'Period_FQuiz', 'Period_LQuiz', 'Period_Camp']

In [65]:
model = DecisionTreeClassifier(class_weight="balanced", random_state=42)
model_fit_predict(model)
feat_dectre = select_features(model)

True positive: 408
True negative: 6638
False positive: 0
False negative: 0

==================================
recall: 1.0
precision: 1.0
f1: 1.0
==================================

All features number: 219, Selected features number: 1, Selected_features:
['Period_Camp']

# Feature importance

In [74]:
def count_features():
  counted = []
  dict_of_features = {}
  list_of_features = feat_logreg + feat_ridge + feat_linsvc + feat_ranfor + feat_dectre
  for feature in list_of_features:
    if feature not in counted:
      number = list_of_features.count(feature)
      dict_of_features[feature] = number
      counted.append(feature)
  return sorted(dict_of_features.items(), key=lambda item: item[1])

In [75]:
features = count_features()
features

[('Course_Nr_21', 1),
 ('Course_Time_11', 1),
 ('Course_Time_16', 1),
 ('Course_Time_24', 1),
 ('Course_Time_34', 1),
 ('Course_Time_43', 1),
 ('Course_Time_46', 1),
 ('Course_GeneralRating_3', 1),
 ('Course_IndividRating_3', 1),
 ('Engagement_exam', 1),
 ('ExamCat1_AvgTime', 1),
 ('Period_LExam', 1),
 ('Course_Nr_3', 1),
 ('Course_Nr_11', 1),
 ('Course_Nr_14', 1),
 ('Course_Nr_19', 1),
 ('Course_Nr_20', 1),
 ('Course_Nr_24', 1),
 ('Course_Nr_25', 1),
 ('Course_Nr_27', 1),
 ('Course_Nr_28', 1),
 ('Course_Nr_33', 1),
 ('Course_Nr_34', 1),
 ('Course_Nr_36', 1),
 ('Course_Nr_37', 1),
 ('Course_Nr_39', 1),
 ('Course_Nr_42', 1),
 ('Course_Nr_43', 1),
 ('Course_Nr_45', 1),
 ('Course_Nr_46', 1),
 ('Course_Nr_48', 1),
 ('Course_Nr_53', 1),
 ('Course_Nr_54', 1),
 ('Course_Nr_55', 1),
 ('Course_Nr_56', 1),
 ('Course_GeneralRating_4', 1),
 ('Course_GeneralRating_35', 1),
 ('Course_GeneralRating_42', 1),
 ('Course_GeneralRating_43', 1),
 ('Course_GeneralRating_46', 1),
 ('Course_IndividRating_4', 1),
 ('Course_IndividRating_15', 1),
 ('Course_IndividRating_24', 1),
 ('Course_IndividRating_28', 1),
 ('Course_IndividRating_35', 1),
 ('Course_IndividRating_36', 1),
 ('Course_IndividRating_43', 1),
 ('Course_IndividRating_46', 1),
 ('ExamCat2_PercTime', 1),
 ('Exams_PercTime', 1),
 ('Course_Time_5', 1),
 ('Course_Time_12', 1),
 ('Course_Time_13', 1),
 ('Course_GeneralRating_5', 1),
 ('Course_GeneralRating_13', 1),
 ('Course_GeneralRating_16', 1),
 ('Course_GeneralRating_29', 1),
 ('Course_GeneralRating_33', 1),
 ('Course_GeneralRating_37', 1),
 ('Course_GeneralRating_51', 1),
 ('Course_GeneralRating_53', 1),
 ('Course_IndividRating_5', 1),
 ('Course_IndividRating_16', 1),
 ('Course_IndividRating_29', 1),
 ('Course_IndividRating_33', 1),
 ('Course_IndividRating_37', 1),
 ('Course_IndividRating_51', 1),
 ('Course_IndividRating_53', 1),
 ('Exams_Result', 1),
 ('Courses_Time', 1),
 ('Period_FQuiz', 1),
 ('Course_Nr_12', 2),
 ('Course_Time_7', 2),
 ('Course_Time_32', 2),
 ('Course_Time_53', 2),
 ('ExamCat2_Nr', 2),
 ('Exams_Nr', 2),
 ('ExamCat2_AvgTime', 2),
 ('Exams_AvgTime', 2),
 ('ExamCat1_Result', 2),
 ('Course_Nr_13', 2),
 ('Course_GeneralRating_23', 2),
 ('Course_GeneralRating_32', 2),
 ('Course_IndividRating_13', 2),
 ('Course_IndividRating_23', 2),
 ('Course_IndividRating_32', 2),
 ('Course_IndividRating_42', 2),
 ('Period_Reg', 2),
 ('Period_FCourse', 2),
 ('Course_Nr_7', 3),
 ('Course_Nr_32', 3),
 ('Courses_Nr', 3),
 ('Course_GeneralRating_7', 3),
 ('Course_GeneralRating_14', 3),
 ('Course_GeneralRating_21', 3),
 ('Courses_GeneralRating', 3),
 ('Course_IndividRating_7', 3),
 ('Course_IndividRating_14', 3),
 ('Course_IndividRating_21', 3),
 ('Courses_IndividRating', 3),
 ('Engagement_quiz', 3),
 ('Engagement_lesson', 3),
 ('Period_LCourse', 3),
 ('Period_LQuiz', 3),
 ('Quizes_Result', 4),
 ('Period_Camp', 4)]

In [76]:
chosen_features = [item[0] for item in features if item[1]>=3]
chosen_features

['Course_Nr_7',
 'Course_Nr_32',
 'Courses_Nr',
 'Course_GeneralRating_7',
 'Course_GeneralRating_14',
 'Course_GeneralRating_21',
 'Courses_GeneralRating',
 'Course_IndividRating_7',
 'Course_IndividRating_14',
 'Course_IndividRating_21',
 'Courses_IndividRating',
 'Engagement_quiz',
 'Engagement_lesson',
 'Period_LCourse',
 'Period_LQuiz',
 'Quizes_Result',
 'Period_Camp']

# Comparison of important features for all and paying students

In [77]:
df_students_paying = df_students[df_students['Paying']==1]
df_students_paying

,Paying,Course_Nr_2,Course_Nr_3,Course_Nr_4,Course_Nr_5,Course_Nr_7,Course_Nr_11,Course_Nr_12,Course_Nr_13,Course_Nr_14,...,Period_Reg,Period_FCourse,Period_LCourse,Period_FQuiz,Period_LQuiz,Period_FExam,Period_LExam,Period_FQuest,Period_LQuest,Period_Camp
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,1,0,0,0,0,...,8,8,0,0,0,8,0,0,0,0
33,1,0,0,0,0,0,0,0,0,0,...,63,63,0,59,55,0,0,0,0,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34985,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
35002,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
35079,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
35211,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31
35220,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31

In [87]:
def means_comparison():
  records = []
  for col in chosen_features:
    all_mean = df_students[col].mean()
    pay_mean = df_students_paying[col].mean()
    diff = pay_mean - all_mean
    columns = {'Feature': col, 'All_students': all_mean, 'Paying_students': pay_mean, 'Difference': diff}
    records.append(columns)
  df = pd.DataFrame(records)
  return df

In [89]:
df = means_comparison()
df

                    Feature  All_students  Paying_students  Difference
0               Course_Nr_7      0.210843         0.209368   -0.001475
1              Course_Nr_32      0.003293         0.004215    0.000923
2                Courses_Nr      0.575532         0.508665   -0.066867
3    Course_GeneralRating_7      0.992497         0.491446   -0.501051
4   Course_GeneralRating_14      0.143066         0.084710   -0.058355
5   Course_GeneralRating_21      0.153331         0.088216   -0.065115
6     Courses_GeneralRating      2.247427         0.831405   -1.416022
7    Course_IndividRating_7      0.992962         0.490444   -0.502518
8   Course_IndividRating_14      0.143106         0.084881   -0.058225
9   Course_IndividRating_21      0.153424         0.088175   -0.065249
10    Courses_IndividRating      2.247895         0.831438   -1.416457
11          Engagement_quiz      0.279762         0.417799    0.138037
12        Engagement_lesson      0.820579         0.804215   -0.016364
13           Period_LCourse     89.880869         0.274473  -89.606396
14             Period_LQuiz     33.298240         0.508665  -32.789575
15            Quizes_Result      0.137729         0.591856    0.454127
16              Period_Camp     98.120324        22.479625  -75.640698

In [90]:
def medians_comparison():
  records = []
  for col in chosen_features:
    all_median = df_students[col].median()
    pay_median = df_students_paying[col].median()
    diff = pay_median - all_median
    columns = {'Feature': col, 'All_students': all_median, 'Paying_students': pay_median, 'Difference': diff}
    records.append(columns)
  df = pd.DataFrame(records)
  return df

In [91]:
df = medians_comparison()
df

                    Feature  All_students  Paying_students  Difference
0               Course_Nr_7           0.0         0.000000    0.000000
1              Course_Nr_32           0.0         0.000000    0.000000
2                Courses_Nr           0.0         0.000000    0.000000
3    Course_GeneralRating_7           0.0         0.000000    0.000000
4   Course_GeneralRating_14           0.0         0.000000    0.000000
5   Course_GeneralRating_21           0.0         0.000000    0.000000
6     Courses_GeneralRating           0.0         0.000000    0.000000
7    Course_IndividRating_7           0.0         0.000000    0.000000
8   Course_IndividRating_14           0.0         0.000000    0.000000
9   Course_IndividRating_21           0.0         0.000000    0.000000
10    Courses_IndividRating           0.0         0.000000    0.000000
11          Engagement_quiz           0.0         0.000000    0.000000
12        Engagement_lesson           0.0         0.000000    0.000000
13           Period_LCourse           0.0         0.000000    0.000000
14             Period_LQuiz           0.0         0.000000    0.000000
15            Quizes_Result           0.0         0.700451    0.700451
16              Period_Camp         103.0        17.000000  -86.000000

In [92]:
def max_comparison():
  records = []
  for col in chosen_features:
    all_max = df_students[col].max()
    pay_max = df_students_paying[col].max()
    diff = pay_max - all_max
    columns = {'Feature': col, 'All_students': all_max, 'Paying_students': pay_max, 'Difference': diff}
    records.append(columns)
  df = pd.DataFrame(records)
  return df

In [93]:
df = max_comparison()
df

                    Feature  All_students  Paying_students  Difference
0               Course_Nr_7      1.000000         1.000000         0.0
1              Course_Nr_32      1.000000         1.000000         0.0
2                Courses_Nr     16.000000         8.000000        -8.0
3    Course_GeneralRating_7      4.869565         4.869565         0.0
4   Course_GeneralRating_14      4.845238         4.845238         0.0
5   Course_GeneralRating_21      4.920000         4.920000         0.0
6     Courses_GeneralRating      5.000000         5.000000         0.0
7    Course_IndividRating_7      5.000000         5.000000         0.0
8   Course_IndividRating_14      5.000000         5.000000         0.0
9   Course_IndividRating_21      5.000000         5.000000         0.0
10    Courses_IndividRating      5.000000         5.000000         0.0
11          Engagement_quiz     29.000000        16.000000       -13.0
12        Engagement_lesson     88.000000        23.000000       -65.0
13           Period_LCourse    364.000000       106.000000      -258.0
14             Period_LQuiz    364.000000       168.000000      -196.0
15            Quizes_Result      1.000000         1.000000         0.0
16              Period_Camp    103.000000        63.000000       -40.0